.button {
  border: none;

  background-color: var(--primary);
  padding: 0.7em 1em;
  border-radius: 0.5em;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-contrast);
  font-family: var(--font-secondary);
  font-size: var(--font-size-lg);
  text-align: center;
  white-space: nowrap;
}

.button:hover:not(:disabled) {
  background-color: var(--primary-shade-10);
}

.button:active:not(:disabled) {
  background-color: var(--primary-shade-20);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-pill {
  border-radius: 9999px;
}