footer {
  background-color: var(--primary);
  box-sizing: border-box;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-contrast);
  font-family: var(--font-secondary);
  font-size: var(--font-size-sm);
}

#copyright {
  margin: 0;

  white-space: nowrap;
}