.game-secret-message-container {
  box-sizing: border-box;
  border: 3px solid var(--gold);
}

.game-secret-message {
  color: var(--gold);
  font-style: italic;
  text-align: center;
}

.game-settings {
  align-items: start;
}